@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

body {
    background: linear-gradient( rgba(0, 191, 255, 0.472), rgba(128, 128, 128, 0.564));
    
   
}

main,p {
    padding-right: 10px;
    width: 90%;
    padding-top: 10px;
    margin-top: 10px;
    font-size: 18px;
    padding-bottom: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: 4%;
}

.text{
    font-size: 20px;
    margin-bottom: 20px;

}


.titulo{
    margin: 0;
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
    font-size: 35px;
    background-color: rgba(141, 169, 192, 0.368);

}

#container-a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 120px;
    
    
}

#container-a img {
    width: 450px;
    
}


.container-b {
    height: 500px;
    text-align: center;
    margin-bottom: 15px;
    font-size: 25px;
}
.container-b iframe{
    width: 1000px;
    height: 500px
}
#container-c{
    text-align: center;
    margin-bottom: 15px;
}
#container-c img{
    width: 500px;
}


.footer{
    margin: 0;
    margin-top: 10%;
    width: 100%; 
    background-size:90px;
    background-color:rgb(0, 0, 0);
    align-items: center;
   }
   footer{
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 20vh; 
    margin-top: 20px; 
}
.footer nav a{
    color: snow;
    text-decoration: none;
    font-size: 22px;
    border: 3px solid white;
    border-radius: 5px;
    padding: 5px 10px; 
    justify-content: center; 
    align-items: center;
    margin-right: 10px  
}
#wiki {
    
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-left: 4%;
    width: 90%;
    align-items: center;
}



#wiki a {
    display: inline-flex;
    align-items: center;
}

