@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    margin: 0;
}
body{
   background: linear-gradient(rgba(128, 128, 128, 0.201), rgba(0, 191, 255, 0.663));
   
}
#container-a, #container-ab {
   
    display:inline;
}
.container {
    max-width: 1080px;
    display:flex;
    justify-content: left;
    align-items: left;
}

header{
    padding: 25px;
    margin-bottom: 20px;
    width: 100%; 
    background-image: url(../images/flor\ de\ lotus.png);
    background-size:90px;
    background-repeat:no-repeat;
    background-position: right;
    background-color:rgb(0, 0, 0);
    
    
    
}
.menu {
    display: flex;
    justify-content: left;  
    margin-bottom: 20px;
    margin: 0; 
    padding: 0;

   
}
.menu nav a {
    color: snow;
    text-decoration: none;
    font-size: 15px;
    border: 3px solid white;
    border-radius: 5px;
    padding: 5px 10px; 
    justify-content: left; 
    align-items: left;
    margin-right: 10px
    

    
}

.menu nav a:hover {
    background-color: rgba(255, 255, 255, 0.3);
    color: snow;
    
} 

  

main,p {
    padding-right: 10px;
    width: 90%;
    padding-top: 20px;
    margin-top: 10px;
    font-size: 18px;
    padding-bottom: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: 4%;

}
#container-a {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 90px;
        padding-bottom: 100px;
        

}

#container-ab img{
        width: 720px;
        height: auto;
       
}

.container-b {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 200px;  
        margin-top: 10px;
        
       
    }
#container-a a{
    display: flex;             
    justify-content: center;  
    align-items: center;       
    color: black;              
    font-size: 17px;            
    padding: 8px 20px;          
    border: 2px solid black;     
    border-radius: 5px;          
    text-align: center;        
    text-decoration: none;       
    width: auto;                 
    min-width: 200px;           
    background-color: white;    
    gap: 20px;
    
    }
    
    #container-a a:hover {
        background-color: #616161;   
    }

  
    .container-b a{
        display: flex;             
        justify-content: center;  
        align-items: center;       
        color: black;              
        font-size: 18px;            
        padding: 5px 10px;          
        border: 2px solid black;     
        border-radius: 5px;          
        text-align: center;        
        text-decoration: none;       
        width: auto;                 
        min-width: 200px;           
        background-color: white;   
        
    } 
    .container-b a:hover {
        background-color: #616161;   
    }
    
    #container-c {
        text-align: center;
        padding-top: 30px;
        margin-top: 20px;
       
    }
   .footer{
    margin: 0;
    margin-top: 10%;
    width: 100%; 
    background-size:90px;
    background-color:rgb(0, 0, 0);
    align-items: center;
   }
   footer{
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 20vh; 
    margin-top: 20px; 
}
.footer nav a{
    color: snow;
    text-decoration: none;
    font-size: 20px;
    border: 3px solid white;
    border-radius: 5px;
    padding: 5px 10px; 
    justify-content: center; 
    align-items: center;
    margin-right: 10px  
}